<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <title>История конвертаций</title>
</head>
<body>
<a href="/converter">Конвертер валют</a>
<a href="/conversions">История конвертации</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

<form action="#" th:action="@{/conversions}" method="get" th:object="${filter}">
    <input type="date" th:field="*{dateStr}"/>
    <select th:field="*{currencyFromId}">
        <option th:value="0">Не выбрано</option>
        <option th:each="currency : ${currencies}"
                th:value="${currency.id}"
                th:text="${currency.toString()}"/>
    </select>
    <select th:field="*{currencyToId}">
        <option th:value="0">Не выбрано</option>
        <option th:each="currency : ${currencies}"
                th:value="${currency.id}"
                th:text="${currency.toString()}"/>
    </select>
    <input type="submit" value="Найти">
</form>
<div th:text="'Всего конвертаций: ' + ${itemsCount}"/>
<table class="border-table">
    <tr class="table-header">
        <td>Исходная валюта</td>
        <td>Целевая валюта</td>
        <td>Исходная сумма</td>
        <td>Получаемая сумма</td>
        <td>Дата</td>
    </tr>
    <tr th:each="conversion : ${conversionsList}">
        <td th:text="${conversion.rateFrom.currency.toString()}"/>
        <td th:text="${conversion.rateTo.currency.toString()}"/>
        <td th:text="${conversion.inputValue}"/>
        <td th:text="${conversion.calculateOutputValue()}"/>
        <td th:text="${#dates.format(conversion.date, 'dd.MM.yyyy HH:mm')}"/>
    </tr>
</table>


<div class="pagination-control" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
    <a th:text="'<'"
       th:href="${urlBuilder.replaceQueryParam('page', pagination.getCurPageNum()).build().toUriString()}"
       th:if="${pagination.getCurPageNum() > 0}"/>
    <a th:text="1"
       th:href="${urlBuilder.replaceQueryParam('page', 1).build().toUriString()}"
       th:if="${pagination.isPrevPagesSkipped()}"/>
    <span th:text="..."
          th:if="${pagination.isPrevPagesSkipped()}"/>
    <a th:each="pageNum : ${pagination.getPrevPagesNums()}"
       th:text="${pageNum + 1}"
       th:href="${urlBuilder.replaceQueryParam('page', pageNum + 1).build().toUriString()}"/>
    <a th:text="${pagination.getCurPageNum() + 1}"
       th:if="${pagination.getLastPageNum() > 0}"/>
    <a th:each="pageNum : ${pagination.getNextPagesNums()}"
       th:text="${pageNum + 1}"
       th:href="${urlBuilder.replaceQueryParam('page', pageNum + 1).build().toUriString()}"/>
    <span th:text="..."
          th:if="${pagination.isNextPagesSkipped()}"/>
    <a th:text="${pagination.getLastPageNum() + 1}"
       th:href="${urlBuilder.replaceQueryParam('page', pagination.getLastPageNum() + 1).build().toUriString()}"
       th:if="${pagination.isNextPagesSkipped()}"/>
    <a th:text="'>'"
       th:href="${urlBuilder.replaceQueryParam('page', pagination.getCurPageNum() + 2).build().toUriString()}"
       th:if="${pagination.getCurPageNum() < pagination.getLastPageNum()}"/>
</div>
</body>
</html>