<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <title>Конвертор валюты</title>
</head>
<body>
<a href="/converter">Конвертер валют</a>
<a href="/conversions">История конвертация</a>
<!--<h1>Конвертация валюты</h1>-->

<form action="#" th:action="@{/converter}" method="post" id="converter-form" th:object="${converterModel}">
    <select th:field="*{currencyFromId}" th:selected="${currencyToId}">
        <option th:each="currency : ${converterModel.currenciesFrom}"
                th:value="${currency.id}"
                th:text="${currency.toString()}"/>
    </select>
    <br>
    <select th:field="*{currencyToId}" th:selected="${currencyToId}">
        <option th:each="currency : ${converterModel.currenciesFrom}"
                th:value="${currency.id}"
                th:text="${currency.toString()}"/>
    </select>
    <br>
    <input type="text" th:field="*{inputValue}"/>
    <span  th:if="${#fields.hasErrors('inputValue')}" th:errors="*{inputValue}"/>
    <br>
    <input type="text" th:field="*{outputValue}"/>
    <br>
    <input type="submit" th:value="Конвертировать">
</form>

</body>
</html>