<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <title>История конвертаций</title>
</head>
<body>
<a href="/converter">Конвертер валют</a>
<a href="/conversions">История конвертация</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

<form action="#" th:action="@{/conversions}" method="get" th:object="${filter}">
    <input type="date" th:field="*{dateStr}"/>
    <select th:field="*{currencyFromId}">
        <option th:value="0">Не выбрано</option>
        <option th:each="currency : ${currencies}"
                th:value="${currency.id}"
                th:text="${currency.toString()}"/>
    </select>
    <select th:field="*{currencyToId}">
        <option th:value="0">Не выбрано</option>
        <option th:each="currency : ${currencies}"
                th:value="${currency.id}"
                th:text="${currency.toString()}"/>
    </select>
    <input type="submit" value="Найти">
</form>
<table class="border-table">
    <tr class="table-header">
        <td>Исходная валюта</td>
        <td>Целевая валюта</td>
        <td>Исходная сумма</td>
        <td>Получаемая сумма</td>
        <td>Дата</td>
    </tr>
    <tr th:each="conversion : ${conversionsList}">
        <td th:text="${conversion.rateFrom.currency.toString()}"/>
        <td th:text="${conversion.rateTo.currency.toString()}"/>
        <td th:text="${conversion.inputValue}"/>
        <td th:text="${conversion.calculateOutputValue()}"/>
        <td th:text="${#dates.format(conversion.date, 'dd.MM.yyyy HH:mm')}"/>
    </tr>
</table>
</body>
</html>