<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Конвертор валюты</title>
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark bg-primary justify-content-end">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        <span class="navbar-text mr-4 ml-2" sec:authentication="name"/>
        <form class="form-inline" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-light" type="submit">Выйти</button>
        </form>
    </nav>
    <div class="container bg-white shadow rounded py-4 my-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light active" href="/converter">Конвертер</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/conversions">История конвертаций</a>
            </li>
        </ul>
        <div class="container">
            <h2 class="secondary-heading my-3">Конвертер валюты</h2>
            <form  action="#" th:action="@{/converter}" method="post" th:object="${converterModel}">
                <p class="form-text text-danger my-2" th:if="${converterModel.hasErrors}">Ошибка конвертации</p>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Исходная валюта:</label>
                        <select th:field="*{currencyFromId}" th:selected="${currencyToId}" class="form-control">
                            <option th:each="currency : ${converterModel.currenciesFrom}"
                                    th:value="${currency.id}"
                                    th:text="${currency.toString()}"/>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Получаемая валюта:</label>
                        <select th:field="*{currencyToId}" th:selected="${currencyToId}" class="form-control">
                            <option th:each="currency : ${converterModel.currenciesFrom}"
                                    th:value="${currency.id}"
                                    th:text="${currency.toString()}"/>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Исходное значение:</label>
                        <input type="text" th:field="*{inputValue}" class="form-control"
                               th:classappend="${#fields.hasErrors('inputValue') ? 'is-invalid' : ''}"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('inputValue')}" th:errors="*{inputValue}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Получаемое значение:</label>
                        <input type="text" th:field="*{outputValue}" class="form-control"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary">Конвертировать</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>