<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Конвертер валюты - Вход</title>
</head>
<body class="vertical-center bg-light">

<div class="jumbotron container border bg-white shadow rounded" style="width: 400px;">
    <form method="post" th:action="@{/login}">
        <h1 class="display-8">Вход</h1>
        <p class="lead">Пожалуйста, войдите, чтобы продолжить</p>
        <hr class="my-4">
        <div class="form-group">
            <input type="text"  name="username" class="form-control" placeholder="Логин">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Пароль">
            <small class="form-text text-danger" th:if="${param.error}">Некорректный логин или пароль</small>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
    </form>
</div>

</body>
</html>